doctype html
html
  head
    title Authentication
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    // load bootstrap css
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    // load fontawesome
    style.
      body        { padding-top:80px; }
  body
    .container
      .text-center
        h1
          |  Lithodomos VR Asset Management System
        img(src="/images/logofinal-01.png" class="img-rounded " width="500" height="500" alt='lithodomos logo')
        br
        span.fa.fa-lock
        p Login or Register with:
        a.btn.btn-default(href='/login')
          span.fa.fa-user
          | Login
        a.btn.btn-default(href='/signup')
          span.fa.fa-user
          | Signup
