extends layout

block content
    form(method='GET', action='/catalog/allasset' )
        input(type='text', name='page', value=null)
        input(type='text', name='sortBy', value=null)
        input(type='text', name='method', value=null)


        button(type='submit') submit