extends layout

block content
    form(method='post', action='' )
        input(type='text', name='page', value=null)
        input(type='text', name='sortBy', value=null)
        input(type='text', name='method', value=null)


        button(type='submit') submit