extends layout

block content
    button.btn.peach-gradient.btn-rounded Peach

    .container
        ul.nav.nav-tabs
            li.active
                a(data-toggle='tab', href='#asset_form') Assets
            li
                a(data-toggle='tab', href='#statue_form') Statues
            li
                a(data-toggle='tab', href='#architectural_element_form') Architectural Elements
            li
                a(data-toggle='tab', href='#prop_form') Props
            li
                a(data-toggle='tab', href='#shader_form') Shader
            li
                a(data-toggle='tab', href='#diagram_form') Diagram



        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        .tab-content
            #asset_form.tab-pane.fade
                h3 HOME
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            #menu1.tab-pane.fade
                h3 Menu 1
                p
                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            #menu2.tab-pane.fade
                h3 Menu 2
                p
                    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
